<%- include('../partials/header'); %>
<h2>Flight Details</h2>
<section id="show-page">
    <form id="details-form" method="POST"
    action="/flights/<%= flight._id %>/details">
    <div>Airline: </div>
    <div> <%= flight.airline %></div>
    <div>Flight Number: </div>
    <div> <%= flight.flightNumber %></div>
    <div>Airport: <%= flight.airport %></div>
    <div>Departure-Time: <%= flight.departure %></div>
    <div>Arrival-Time: 
        <input type="datetime-local" name="arrival"></div>
   <label>Destination: </label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DEN">DEN</option>
            <option value="SAN">SAN</option>
            <option value="LAX">LAX</option>
            <option value="DFW">DFW</option>
        </select>
   <input type="submit" value="Save Changes">
 </form>
</section>
  <form id="add-ticket-form" action="/tickets" method="POST">
    <label>Ticket:</label>
    <input type="text" name="seat">
    <input type="hidden" name="flight" value="<%= flight._id %>">
    <label>Price:</label>
    <input type="text" name="price">
    <input type="submit" value="Add Ticket">
  </form>

  <p>Please first ensure that the Ticket is not already purchased</p>
      <% tickets.forEach(function(t) { %>
      </ul>
        <li><%= t.seat %>-<%= t.price %></li>
      </ul>
      <% }) %>
  </p>